<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo.png", :border => 0, :alt => 'penn shield', :id => "logo"), root_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><%= link_to "Dashboard", user_path(id: current_user.id), title: "Dashboard" %></li>
        <% end %>
        <li><%= link_to "Help", help_path, title: "Help"%></li>
        <% if logged_in? %>
          <li><%= link_to "Log out", logout_path, method: "delete", title: "Log out" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, title: "Log in" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>